@tailwind base;
@tailwind components;
@tailwind utilities;


:root{
   --primary-btn: #FF71A4;
   --clr-white-100: #FFFFFF;
   --clr-gray: #E5EDFF;
   --clr-blue-900: #121C51;
   --clr-blue-600: #60699A;
   --clr-blue-300: #A3B8E8;
   --clr-red: #D22E69;
   --clr-white-200: #F8FAFF;
   --clr-white-400: #F2F6FF;
}



body{
  @apply bg-background;
}