@tailwind base;
@tailwind components;
@tailwind utilities;


:root{
   --clr-primary-btn: #FF71A4;
   --clr-white-100: #FFFFFF;
   --clr-gray: #E5EDFF;
   --clr-blue-900: #121C51;
   --clr-blue-600: #60699A;
   --clr-blue-300: #A3B8E8;
   --clr-red: #D22E69;
   --clr-white-200: #F8FAFF;
   --clr-white-400: #F2F6FF;
}



.main-shadow{
  box-shadow: 0.825rem 0.625rem var(--clr-gray);
}

body{
  @apply bg-gray;
}